.project-image {
  position: fixed;
  right: calc(50% - 40vw);
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: -1;
}
  
.project-image img {
    width: calc(100vw / 3); 
    max-height: 100vh;
}