@font-face {
  font-family: 'ABCDiatypeRoundedPlusVariable';
  src: url('./assets/fonts/ABCDiatypeRoundedPlusVariable-Trial.ttf');
}

.app {
  background-color: var(--secondary-color);
  font-family: 'ABCDiatypeRoundedPlusVariable', sans-serif;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 1.5;
}

.app-container {
  max-width: 600px;
  padding: 4rem .5rem;
  margin: 0 auto;
}

.app-center {
  display: flex;
  justify-content: center;
}

.mg-top-b {
  margin-top: 4em;
}

.mg-top-m {
  margin-top: 2em;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.green {
  background-color: #2dd916;
}
