@font-face {
  font-family: 'ABCDiatypeRoundedPlusVariable';
  src: url('./assets/fonts/ABCDiatypeRoundedPlusVariable-Trial.ttf');
}

.app {
  background-color: var(--secondary-color);
  font-family: 'ABCDiatypeRoundedPlusVariable', sans-serif;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.links-f {
  color: inherit; 
  text-decoration: none;
}

.app-container {
  max-width: 600px;
  padding: 4rem .5rem;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.app-center {
  display: flex;
  justify-content: center;
}

.mg-top-b {
  margin-top: 4em;
}

.mg-top-m {
  margin-top: 2em;
}

.cursor {
  background-color: #111;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.green {
  background-color: #2dd916;
}

.links {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

.links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s;
}

.links:hover::after {
  width: 0;
}

.links:hover {
  color: #2dd916;
}